@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  /* Utilisation de la police Montserra pour tout le body */
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: black;
}

body h1,
body h3 {
  font-weight: 300;
}

body h2,
body h4 {
  font-weight: 400;
}

/*---------------------------------------------- Navbar ---------------------------------------------*/
#navbar {
  background-color: rgba(255, 255, 255, 0.938);
  /* rgbA pour faire l'opacité */
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar-toggler-icon {
  color: white;
}

#burger {
  width: 28px;
  height: auto;
}

.link {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
  font-size: 1.4rem;
}

.link:hover {
  color: #8b8b8b;
  text-decoration: underline;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

.nowrap {
  list-style-type: none;
  white-space: nowrap;
  /*empeche d'aller a la ligne entre deux mots d'un seul lien*/
}

/* ------------------------------Fonds et dimensions des différentes pages : -------------------------------------*/
#homepage {
  background-color: #f3ece5;
  height: 100vh;
  overflow: auto;
}

#aboutMe {
  background-color: white;
  height: auto;
  overflow: auto;
}

#experiencesPage {
  height: auto;
  overflow: auto;
}

#skillsPage {
  background-color: white;
  height: auto;
  overflow: auto;
}

#creationsPage {
  background-color: #f3ece5;
  height: 100vh;
  overflow: auto;
}

#page_contact {
  background-image: url("../img/tomjerry.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  overflow: auto;
}

/*------------------------------------------------ ACCUEIL--------------------------------------------------- */
/* Titre de la page d'accueil : */
#titre_accueil {
  font-size: 7vw;
  letter-spacing: 0.05em;
  color: black;
  z-index: 1;
  margin-left: 20vw;
  text-align: right;
}

/* Lune accueil */
#luneaccueil {
  position: absolute;
  margin-top: -43vh;
  margin-left: 14vw;
  height: 86%;
  border-radius: 50%;
  -webkit-box-shadow: 20px 20px 65px #ccc6be, -20px -20px 65px white;
          box-shadow: 20px 20px 65px #ccc6be, -20px -20px 65px white;
}

.scrolldown {
  font-size: 1rem;
  bottom: 0;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

/* apparition en fondu de la page d'accueil */
.fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari et Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*rotation de la lune*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

/* -------------------------------------------A PROPOS DE MOI --------------------------------------------------*/
/* propriétés de la photo de cv */
#phototom {
  margin-left: 10%;
  text-align: justify;
  width: 80%;
  border-radius: 2%;
}

.card {
  background-color: white;
}

/*texte de présentation Tom*/
#presentation_tom {
  margin-left: 10%;
  line-height: 150%;
}

.card {
  border: none;
}

#aboutMe p {
  font-size: 1.3em;
}

/* ------------------------------------------------------TIMELINE --------------------------------------------*/
.logo {
  list-style-type: none;
  width: 40%;
}

#experiencesPage h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main-timeline {
  position: relative;
}

.main-timeline:before {
  /*ligne centrale*/
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.33s ease-out 0s;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
  background: white;
  border: 2px solid #232323;
  left: -3px;
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px;
}

.main-timeline .timeline:hover .icon:before {
  left: 3px;
}

.main-timeline .timeline:hover .icon:after {
  left: -3px;
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.33s ease-out 0s;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
  background: white;
  border: 2px solid #232323;
  left: -6px;
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px;
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0;
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 600;
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #232323;
  line-height: 36px;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .experienceTitle {
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.main-timeline .description {
  margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px;
  }
  .main-timeline .date-content:before {
    width: 22.5%;
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px;
  }
  .main-timeline .experienceTitle {
    font-size: 17px;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px;
  }
  .main-timeline .timeline {
    margin-bottom: 20px;
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }
  .main-timeline .icon {
    margin: auto 0;
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }
  .main-timeline .date-content:before {
    display: none;
  }
  .main-timeline .date-outer {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date {
    top: 30%;
  }
  .main-timeline .year {
    font-size: 24px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }
  .main-timeline .experienceTitle {
    margin-bottom: 10px;
  }
}

/* -----------------------------------------------COMPETENCES----------------------------------------------*/
#skillsPage h2 {
  text-align: center;
  margin-bottom: 5vh;
}

#skillsPage h4 {
  text-align: center;
}

.listecompetences {
  text-align: center;
  list-style-type: none;
  line-height: 3em;
  white-space: nowrap;
  /*empeche d'aller a la ligne entre deux mots d'un seul lien*/
}

.listecompetences li {
  font-size: 1rem;
  white-space: nowrap;
  /*empeche d'aller a la ligne */
}

.littleLogo {
  width: 45px;
  height: auto;
}

#hobbies {
  margin-left: 5vw;
}

#titre_hobbies {
  margin-left: 5vw;
}

#competence_colonne1,
#competence_colonne3,
#competence_colonne5 {
  background-color: #f3ece5;
}

/* --------------------Animation Camion Pompier--------------------------- */
#camion {
  width: 150px;
}

#chemincamion {
  background-color: white;
  height: 90px;
  width: 100%;
  overflow: hidden;
}

#camionpompier {
  width: 150px;
  -webkit-animation: 10s linear 0s infinite move_eye;
  animation: 10s linear 0s infinite move_eye;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes move_eye {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 100%;
  }
}

/*----------------------------------------------------REALISATIONS-----------------------------------------------*/
/* Container des images et du texte dans les certifications */
#creationsPage {
  /* centrage du texte au milieu de l'image */
}

#creationsPage .img_container {
  position: relative;
  text-align: center;
  max-height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

#creationsPage .img_container img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#creationsPage .real_img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 20px;
  border-radius: 1%;
}

#creationsPage .title {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 30%;
  left: 50%;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.8em;
  color: white;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 400;
  text-shadow: 1px 1px 2px black;
}

#creationsPage .work {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 74%;
  left: 50%;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.1rem;
  color: white;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 400;
  text-shadow: 1px 1px 2px black;
}

#creationsPage .img_container:hover a,
#creationsPage .img_container:hover img {
  opacity: 0.9;
}

#creationsPage .img_container:hover .title {
  opacity: 1;
}

#creationsPage .img_container:hover .work {
  opacity: 1;
}

#creationsPage .modal li {
  list-style-type: none;
}

/*---------------------------------------------------------CONTACT--------------------------------------------------------------------*/
#page_contact h2 {
  font-size: 2rem;
  color: #fcf7f0;
  text-shadow: black;
}

/*---------------------------------------------------------FOOTER---------------------------------------------------------------------*/
footer {
  background-color: #2e2e2e;
  color: white;
  font-size: 1rem;
  line-height: 1em;
  padding-top: 10px;
  text-align: center;
  height: 15vh;
}

footer .col {
  font-size: 1.3rem;
}

footer i {
  font-size: 1.5rem;
  margin: 0;
  padding: 12px 0px;
  width: 50px;
  border-radius: 50px;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

footer i:hover {
  background-color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

footer .fa-linkedin-in {
  background-color: #007bb6;
}

footer .fa-print {
  background-color: #8c8c8c;
}

.link2 {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

.link2:hover {
  color: #c4c3c3;
  font-size: 1.4rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

#copyright {
  padding: 0;
  margin: 0;
}

/* end footer */
/* ----------------------------------------Media queries pour le Responsive Design --------------------------------------------*/
/* réglages de l'écran d'accueil */
@media all and (max-width: 992px) {
  .scrolldown {
    visibility: hidden;
  }
  #titre_accueil {
    margin-top: 20vh;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: black;
    z-index: 1;
    margin-left: 0vw;
  }
  #luneaccueil {
    position: absolute;
    margin-top: -40vh;
    margin-left: 0vw;
    width: 55%;
    height: auto;
    border-radius: 50%;
    -webkit-box-shadow: 20px 20px 65px #ccc6be, -20px -20px 65px white;
            box-shadow: 20px 20px 65px #ccc6be, -20px -20px 65px white;
  }
  /* réglages du footer */
  footer a {
    font-size: 0.9em;
    margin-bottom: 3px;
    margin-top: 3px;
  }
  footer i {
    font-size: 0.9em;
    margin-bottom: 3px;
  }
  footer p {
    font-size: 0.9em;
    margin-bottom: 3px;
  }
  footer div {
    margin-bottom: 3px;
    margin-top: 3px;
  }
}

@media all and (max-width: 600px) {
  .scrolldown {
    visibility: hidden;
  }
  #titre_accueil {
    margin-top: 15vh;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: black;
    z-index: 1;
    margin-left: 0vw;
  }
  #luneaccueil {
    position: absolute;
    margin-top: -178px;
    margin-left: -45vw;
    width: 117%;
    height: auto;
    border-radius: 50%;
    -webkit-box-shadow: 20px 20px 65px #ccc6be, -20px -20px 65px white;
            box-shadow: 20px 20px 65px #ccc6be, -20px -20px 65px white;
  }
  #page_contact {
    height: 75vh;
  }
  footer {
    height: 25vh;
  }
}
/*# sourceMappingURL=style.css.map */